#icon {
    width: 100%;
}

.jumbotron {
    padding: 0;
}

.panel {
    height: 15%;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    padding: 15px;
}

.panel:hover {
    height: 35%;
    opacity: 0.9;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.panel a:hover {
    text-decoration: none;
}

.panel h3 {
    color: #fff;
    font-size: 250%;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.panel h3:hover {
    text-decoration: none;
    color: #fff;
}


#apply {
    background-color: #58C4FF;
}

#about {
    background-color: #A5DFFF;
}

#contact {
    background-color: #23457F;
}

#status {
    background-color: #46C7FF;
}